<div class="contenedor">
  <form [formGroup]="myForm"class="formulario">
    <!-- Información de la institución -->
    <div class="columna-unico">
      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>Nombres:</mat-label>
          <input matInput formControlName="nombre" required>          
          <mat-error *ngIf="myForm?.get('nombre')?.hasError('required')">
            Por favor, ingrese los nombres.
          </mat-error>          
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>descripcion:</mat-label>
          <input matInput formControlName="descripcion" required>          
          <mat-error *ngIf="myForm?.get('descripcion')?.hasError('required')">
            Por favor, ingrese la descripcion.
          </mat-error>          
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>año:</mat-label>
          <input matInput formControlName="anio" required>          
          <mat-error *ngIf="myForm?.get('anio')?.hasError('required')">
            Por favor, ingrese el año.
          </mat-error>          
        </mat-form-field>
      </div>


      <div class="input-container">
        <mat-form-field>
          <mat-label>Seleccione Marca</mat-label>
          <mat-select formControlName="marca"  required class="dropdown">
            <mat-option *ngFor="let p of marca" [value]="p.id">
              {{p.nombreMarca}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm?.get('marca')?.hasError('required')">
            Por favor, ingrese la marca.
          </mat-error>
        </mat-form-field>

      </div>

    </div>
    <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="guardar()">Guardar</button>
    <button mat-raised-button color="warn" (click)="cancelar(true)">Cancelar</button>
  
  </form>
</div>